.inner{
    text-align: center;
    align-items: center;
    justify-content: center;    

}
.lear{
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
}

.container{
    width: 1110px;
    margin: 0 auto;
}
.foot__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
    padding-top: 40px;
}

